div#cart-opacity {
    position: fixed;    background: #000;
    z-index: 4;    width: 100%;    height: 100%;
    display: block;    opacity: 0.7;    transition: all 0.5s;    -webkit-transition: all 0.5s;
    top: 0;
    left: 0;
	cursor:pointer;
}

div#load-cart-image {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 250px;
    z-index: 20;
}

div#load-cart-image img {
    border: 12px solid #fff; */;
    border-radius: 5px;
    width: 30px;
}

div#wrap-popup-cart {
    position: fixed;
    width: 100%;
    z-index: 111;
    height: 500px;
    top: 50px;
    box-sizing:  border-box;
}

div#popup-cart {
    background: #fff;
    width: 770px;
    margin: auto;
    /* padding: 10px; */
    border: 9px solid #666;
    border-radius: 5px!important;
    position: relative;
    max-width: 94%;
    box-sizing:  border-box;
}

div#popup-cart {}

div#cart-header {
    padding: 7px 10px;
    text-align: center;
    border-bottom: 1px solid silver;
    text-transform: uppercase;
    font-weight: bold;
}

div#cart-content {
    position: relative;
    /* min-height: 390px; */
}

.cart-col1 {
    /* width: 47%; */
    padding: 10px;
    /* float: left; */
}
img.close-cart {
    position: absolute;
    top: -22px;
    right: -22px;
	cursor:pointer;
}
a.cart-product-name {
    color: #b6262c;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.cart-content-title {
    /* text-transform: uppercase; */
    color: #fff;
    font-size: 13px;
    border-bottom: 2px solid rgb(182, 38, 44);
    height: 21px;
    font-weight: bold;
    margin: 8px 0;
    position: relative;
}

.cart-col2 {
    /* width: 45%; */
    /* float: left; */
    padding: 10px;
    box-sizing:  border-box;
}

.cart-content-title span {    padding: 5px 15px;
    background: rgb(182, 38, 44);
}

.cart-item-image img {
    width: 80px;
    vertical-align: middle;
}

.cart-item-image {
    width: 80px;
    height:55px;
    padding: 5px;
    border: 1px solid rgb(197, 192, 192);
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
}

.cart-item {
    border-bottom: 1px solid rgb(219, 215, 215);
    padding: 10px 0;
}

p.cart-price {}

.cart-item-info {
    width: 245px;
    line-height: 25px;
}

p.cart-price span {
    font-weight: bold;
    color: rgb(182, 38, 44);
}

.desc-num, .asc-num {
    border: 1px solid silver;
    padding: 3px 10px;
    text-align: center;
    cursor: pointer;
}

p.cart-num input {
    border: 1px solid silver;
    padding: 3px;
    width: 40px;
    color: rgb(94, 93, 93);
}

.desc-num:hover, .asc-num:hover {
    background: rgb(241, 241, 241);
}

.delete-cart-item {
    background: rgb(76, 76, 76);
    width: 43px;
}

.delete-cart-item:hover {
    background: rgb(158, 68, 72);
}

.cart-item-action p{
	cursor: pointer;
	text-align: center;
    color: #fff;
    font-size: 12px;
    margin-top: 15px;
	float: left;
	margin-right: 5px;
}

p.update-cart-item {
    background: rgb(48, 90, 168);
    width: 70px;
}

.cart-item-action {
    height: 40px;
}

p.update-cart-item:hover {
    background: rgb(23, 122, 220);
}
div#cart-detail {
    max-height: 455px;
    overflow: auto;
    /* border-bottom: 1px solid rgb(232, 228, 228); */
}

#cart-detail::-webkit-scrollbar{
    width: 8px;
}

div#cart-detail::-webkit-scrollbar-track {
    background: #E8E8E8;
    border-radius: 0;
}

div#cart-detail::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #6C6A6B;
}
div#total-price {
    font-weight: bold;
    /* margin-top: 20px; */
    /* font-size: 14px; */
    /* float: left; */
}

div#total-price span {
    color: rgb(182, 38, 44);
    font-size: 17px;
}

#empty-cart {
    padding: 5px;
    background: rgb(76, 76, 76);
    color: #fff;
    margin: 19px 0;
    width: 150px;
    font-size: 12px;
    text-align: center;
    float: right;
    cursor: pointer;
}

#empty-cart:hover {
    background: rgb(117, 108, 108);
}

form#order-form input{
    display: block;
    margin: 10px 0;
    padding: 7px 10px;
    color: #6A6565;
}

input#submit-order:hover {
    background: rgb(9, 173, 162);
}

form#order-form input.text{
    width: 100%;
    border: 0px solid rgb(209, 207, 207);
    margin: 15px 0;
    box-sizing:  border-box;
    max-width: 100%;
    background: #e6e6e6;
}

form#order-form input:focus{
    outline: none;
}
 input#submit-order {
    background: rgb(7, 182, 170);
    color: #fff!important;
    border: 0;
    padding: 7px 30px!important;
    /* font-weight: bold; */
    cursor: pointer;
    /* position: absolute; */
    right: 15px;
    bottom: 25px;
    text-transform: uppercase;
    font-size: 12px;
}

div#after-order {
    background: #dff0d8;
    padding: 10px;
    border-radius: 3px;
    color: rgb(108, 108, 108);
    line-height: 25px;
}

p.empty-cart-noti {
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
}

textarea#other_info {
    width: 100%;
    padding: 7px 10px;
    height: 80px;
    border: 0px solid rgb(209, 207, 207);
    max-width:  100%;
    background: #e6e6e6;
    box-sizing:  border-box;
}

textarea#other_info:focus {
    outline: none;
}

@media only screen and (max-width:767px){
    div#wrap-popup-cart{
    top:0;
}
}
.cart-col2 {
    display: none;
}

.cart-col2.active {
    display: block;
}

.cartActions {
    text-align: center;
}

.cartAction {
    display: inline-block;
    margin: 20px 10px;
}

.cartAction {
    background: #03A9F4;
    color: #fff;
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.cartAction:nth-of-type(2) {
    background: #009688;
}

.cartAction:nth-of-type(3) {
    background: #FF9800;
}

.cartAction:hover {
    background: #fb6363;
}
.cartGroup {
    float: left;
    width: 48%;
    margin: 1%;
}
span.titlePrice {
    background: none!important;
    color: #333;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
}
.removeCombo {
    float: right;
    cursor: pointer;
    color: #ffffff!important;
    background: #4c4c4c;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px!important;
    position: relative;
    top: 15px;
}

.removeCombo:hover {
    background: #f1a23d;
}

.cartGroup2 .cart-num span {
    display: none;
}
