@media only  screen and (max-width: 991px){
    #main-menu li {
        margin: 0 5px; 
    }   
    
     
    #v-toggle-menu:before {
        position: absolute;
        top: 15px;
        top: calc(50% - 5px);
        left: 10px;
        content: "";
        height: 1px;
        width: 35px;
        background: #006bb3;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
    }
    
    #v-toggle-menu:after {
        position: absolute;
        top: 25px;
        top: calc(50% + 5px );
        left: 10px;
        content: "";
        height: 1px;
        width: 35px;
        background: #006bb3;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
    }

    #v-toggle-menu.active:before{
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    #v-toggle-menu.active:after{
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
        top:15px;
        top: calc(50% - 5px );
    }
    
     #main-menu {
        width: 80%;
        z-index: 12!important;
        top: 0;
        left: -80%;
        position: fixed;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        text-align: left;
        display: block;
    }
    
     #main-menu.active {
        left: 0%;
    } 

     #main-menu li {
        float: none!important;
        display: block;
    }

     #main-menu li a {
        display: block;
        border: 0!important;
        background: none!important;
        /* color: #39b54a!important; */
        border-bottom: 1px dotted #e2e2e2;
        border-radius: 0!important;
        padding: 5px 5px;
        font-size: 12px;
    }

     #main-menu {
        line-height: 25px;
    }
    
    #main-menu li .menu-arrow:after{
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0d7";
        position:absolute;
        top: 7px;
        right:0px;
        width: 100%;
        height: 100%;
    }

    #main-menu li .menu-arrow{
        display: inline-block;
        position:absolute;
        top:40%;
        top: 5px;
        right:0px;
        width: 30px;
        height: 30px;
        color: #fff;
        transition:all 0.5s;
        -webkit-transition:all 0.5s;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-size: 16px;
        z-index: 3;
        line-height: 30px;
    }
    
     #main-menu .sub-menu{
        position: relative!important;
        top:0!important;
        margin-left:20px;
        width:auto!important;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        right: 0!important;
    }
    #main-menu .sub-menu a{
        /* color:#fff!important; */
    }
}

#v-toggle-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 100%;
}

.v-menu-opacity{
    position:fixed;
    top:0;
    left:0%;
    width:100%;
    height:100%;
    z-index:9;
    background: #000;
    opacity:0.6;
    display: none;
}
/* END Menu Style 2*/
