input[type="text"], textarea {
    padding: 3px 5px;
    border: 1px solid silver;
    width: 600px;
}

textarea {
    height: 70px;
}

.form-group {
    margin-bottom: 35px;
}

span#view-fill {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #dadada;
}